.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  border-bottom: solid 0.1rem var(--clr-primary-500);
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    background-color: var(--clr-neutral-500);
    opacity: 0.5;
    left: 0;

    z-index: 2;

    transform: translateX(-200vw);
    transition: all 0.1s linear;
  }

  &[data-showMenu="true"] {
    &::after {
      transform: translateX(0);
    }
  }

  &__container {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__logo {
    flex: 1;

    & img {
      width: 5rem;
      height: auto;
      cursor: pointer;
    }
  }

  &__search,
  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 3rem;
    cursor: pointer;

    &:hover {
      background-color: var(--clr-neutral-200);
    }
  }

  &__toggle {
    z-index: 3;
    background-color: var(--clr-neutral-100);
  }
  &__search > span,
  &__toggle > span {
    color: var(--clr-primary-500);
  }
}
.nav {
  position: absolute;
  height: 100vh;
  width: 100%;

  top: 3rem;
  left: 0;

  z-index: 3;
  padding: 1rem 0;

  transform: translateX(-100vw);
  transition: all 0.1s linear;

  &[data-showMenu="true"] {
    transform: translateX(0);
  }

  &__item {
    color: var(--clr-primary-900);
  }
}

.submenu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 3rem;
  background-color: var(--clr-neutral-200);
  color: var(--clr-primary-900);
  border-bottom: 0.1rem solid var(--clr-primary-900);
  box-shadow: 0 1rem 1rem -1rem black;
  padding: 0 1rem;
  position: relative;

  cursor: pointer;

  & .flex-container {
    top: 3rem;
    width: 100%;
  }
  &__content {
    width: 90%;
    background-color: var(--clr-neutral-200);
    border: 0.1rem solid var(--clr-neutral-500);
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;

    display: none;

    &[data-drop="true"] {
      display: flex;
    }

    &__item {
      width: 100%;
      padding: 0 0.5rem;
      &:hover {
        background-color: var(--clr-neutral-500);
        color: var(--clr-neutral-100);
      }
    }
  }
}
