$colors: (
  primary: (
    300: hsl(214, 100%, 50%),
    500: hsl(214, 100%, 34%),
    900: hsl(214, 30%, 27%),

  ),
  neutral: (
    100: hsl(0, 0%, 100%),
    200: hsl(0, 0%, 95%),
    500: hsl(0, 0%, 50%),
  ),
);